#define UseCDE NO
#define UseLWID NO
#define UseXRT NO
#define UseXFE NO
#define UseINT NO
#define UseBX NO

CDEPath		= /usr/dt
LWIDPath	= ..
XRTPath		= /usr/X11R6/lib/xrt
XFEPath		= ..
INTPath		= /usr/local/INT
BXPath		= /usr/local/BXwidgets
