c++.rf.tmpl    	     *      rf	n
c++.def_base.tmpl    _base  h	n
c++.impl_base.tmpl   _base  C	n
c++.def.tmpl         *      h	y
c++.impl.tmpl        *      C	y
c++.VcView_h.tmpl   >	  VcView.h	n
c++.VcView_C.tmpl   >	  VcView.C	n


