$(IS_MANAGE_CB,
  XtAddCallback( $(IS_LINK,$(WIDGET_IDENTIFIER)->getTop(),$(WIDGET_IDENTIFIER)), "$(NAME)",
                 manageWidget, (XtPointer)$(WIDGET_TO_MANAGE)); ,
  XtAddCallback( $(IS_LINK,$(WIDGET_IDENTIFIER)->getTop(),$(WIDGET_IDENTIFIER)), "$(NAME)",
                 $(METHOD)_CB, this);)
