// ------------------------------
// $(METHOD)()
// ------------------------------
void $(INTERFACE)::$(METHOD)(Widget wg, XtPointer)
{
  printf("Callback $(INTERFACE)::$(METHOD) called by widget '%s'.\n",
         XtName(wg));
}


