  XtVaSetValues($(SOURCE_ISLINK,$(SOURCEWIDGET)->base.topWidget,self->base.$(SOURCEWIDGET)), "$(RESOURCENAME)", $(DESTINATION_ISLINK,$(DESTINATIONWIDGET)->base.topWidget,self->base.$(DESTINATIONWIDGET)), NULL);
