c.rf.tmpl    	   *	  rf		n
c.def_base.tmpl    _base  h		n
c.impl_base.tmpl   _base  c		n
c.def.tmpl	   *	  h		y
c.impl.tmpl	   *	  c		y
c.vcmisc_h.tmpl	   >	  vcmisc.h	n
c.vcmisc_c.tmpl	   >	  vcmisc.c	n


