#
# Callback $(INTERFACE)_$(METHOD)
#
# $(CB_WIDGET)    - for calling widget
# $(CB_CALL_DATA) - call_data structure
# See man dtksh for details

$(INTERFACE)_$(METHOD) () {
  echo Callback $(INTERFACE)_$(METHOD).
}
